<mat-toolbar class="header mat-elevation-z4">
  <span>
    <a routerLink="home"> </a>
  </span>
  <div class="logo">
    <img id="ts" src="assets/TypeScript.png">
    <img id="html" src="assets/html5.png">
    <img id="angular" src="assets/angular.png">
    <img id="css" src="assets/css3.png">
    <img id="js" src="assets/JavaScript.png">
  </div>

  <span class="title-group">
    <a class="a"> Inicio </a>
    <a class="a"> Sobre mim </a>
    <a class="a"> Projetos </a>
    <a class="a"> Habilidades </a>
  </span>
</mat-toolbar>
