// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.container {
  // background-image: linear-gradient(46deg, #352727, #8c5b54, #8c5b54);
  background: #ffffff00;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  /*-----------------------------------------------------Banner------------------------------------------------------------*/
  .apresentação{
    grid-area:banner;
    display: grid;
    height: auto;
    background-image: url(https://raw.githubusercontent.com/VINICIUSNUNES137/portifolio/main/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-bottom: solid 1px rgba(255, 255, 255, 0.541);
    grid-template-areas:
    'menu menu'
    'hello avatar';
    grid-template-columns: 50%;
    grid-template-rows: 100px;
    justify-items: center;
    
    .header{
      grid-row-start: 1;
      grid-row-end: 2;
      .logo {
        font-size: 1.5rem;
    
    }
    
    .logo::before {
        content: "<";
        font-size: 2rem;
        color: var(--primary-color);
        font-weight: 700;
    }
    
    .logo::after {
        content: "/>";
        font-size: 2rem;
        color: var(--primary-color);
        font-weight: 700;
    }
    .menu {
      display: flex;
      gap: 72px;
      font-size: 1.25rem;
    }
    
    .menu li {
      border-bottom: 4px solid transparent;
      transition: border-color 0.25s;
    }
    
    .menu li:hover {
      border-color: var(--primary-color);
    }
    }
    
    .apresentação__title{
      display: flex;
      width: auto;
      justify-content: center;
      align-items: center;
      grid-area: hello;

      .apresentação__text{
        color: rgb(228, 228, 228);
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;

        .apresentação__text_h1{
          margin-top: 2px;
          margin-left: 5px;
          margin-bottom: -1px;
          font-size: 35px;
          font-family: monospace;
          color: #f7e601;
        }

        .apresentação__text_a{
          color:  #911200;
          transition: all 0.5s;
        }
        .apresentação__text_a:hover{
          -webkit-transform: scale(1.5);
          transform: scale(1.5);
          -webkit-filter: drop-shadow(15px 10px 5px rgba(255, 255, 255, 0.829));
          filter: drop-shadow(15px 10px 5px rgba(255, 255, 255, 0.5));
        }
      }
    }



    .apresentação__img{
      display: flex;
      width: 240px;
      justify-content: center;
      align-items: center;
      grid-area: avatar;

      .avatar{
        width: 635px;
      }

    }
  }

   /*-----------------------------------------------------Sobre-min------------------------------------------------------------*/

  .sobre-mim {
    color: aliceblue;
    display: contents;
    width: auto;
    min-width: 350px;
    max-width: 1200px;
    border: red 2px solid;
    margin-left: 10%;
    margin-right: 10%;
    
    .tittle{
      display: contents;
      font-family: "Ubuntu-Bold";
      font-weight: bold;
      width: auto;
      min-width: 350px;
      height: 300px;
      min-height: 250px;
      margin-top: 5px;
      margin-bottom: -15px;
    }
    .section__tittle {
      width: auto;
      height: auto;
      min-width: 350px;
      min-height: 250px;
      font-size: 200px;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 25px;
      background: linear-gradient(#444, #000);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
    
    .description_skills{
      display: grid;
      height: auto;
      min-height: 350px;
      width: auto;
      min-width: 350px;
      grid-template-areas: "description skills";
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      margin-top: 13px;
      padding: 20px;
      margin-left: 25px;
      margin-right: 25px;
      // border: darksalmon solid 2px;
    }
    .description{
      grid-area: description;
      display: flex;
      gap: 26px;
      flex-direction: column;
      flex-wrap: wrap;

      .description__tittle {
        font-family:'Ubuntu-Medium';
        font-size: 48px;
        font-weight: 700;
        color: rgba(255, 0, 43, 0.877);
        text-align: left;
        // border: solid 2px darkgray;
        margin-left: 10px;
        margin-right: 5px;
        margin-bottom: 25px;
        margin-top: -10px;
        padding: 10px;
      }

      .description__text {
        font-family: "Ubuntu-Light";
        font-size: 23px;
        font-weight: 300;
        width: auto;
        min-width: 350px;
        line-height: 150%;
        text-align: left;
        padding: 3px;
        margin-left: 10px;
        margin-right: 5px;
        margin-top: -28px;
        // border: #46a35e solid 2px;
        justify-content: center;
    }
    }

    .skills{
      grid-area: skills;
      display: flex;
      flex-direction: column;
      gap: 6px;

      .skills__tittle {
        font-family:'Ubuntu-Bold';
        font-size: 48px;
        font-weight: bold;
        color: rgba(255, 0, 43, 0.877);
        // border: #0047ff solid 2px;
        padding: 8px;
        margin-left: 5px;
        margin-right: 10px;
        margin-bottom: 25px;
        margin-top: -10px;
      }
  
      .skills__container {
        display: flex;
        width: auto;
        min-width: 350px;
        height: auto;
        min-height: 350px;
        flex-wrap: wrap;
        gap: 6px;
        justify-content: flex-start;
        flex-direction: row;
        // border: black solid 1px;
        margin-right: 10px;
        margin-left: 5px;
        margin-top: -7px;
        padding: 0px;
      }
      .skills__icon {
        width: 150px;
        height: 150px;
        margin: 10px;
        background-color: rgba(255, 0, 43, 0.877);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        font-size: 25px;
        font-weight: 700;
      }
      .fa-angular{
        width: 55px;
        margin-bottom: -3px;
      }
      .fa-github{
        width: 60px;
        margin-bottom: -6px;
      }
      .fa-ts{
        width: 60px;
        margin-bottom: -4px;
      }
      .fa-js{
        width: 55px;
        margin-bottom: -5px;
      }
      .fa-css3{
        width: 45px;
        margin-bottom: -3px;
      }
      .fa-html5{
        width: 45px;
        margin-bottom: -3px;
      }
    }


  }

  /*-----------------------------------------------------Projetos------------------------------------------------------------*/

  .projetos {
    color: aliceblue;
    display: contents;
    width: auto;
    min-width: 350px;
    max-width: 1200px;
    margin-left: 10%;
    margin-right: 10%;

    .tittle{
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      font-family: "Ubuntu-Bold";
      font-weight: bold;
      width: auto;
      min-width: 350px;
      height: 300px;
      min-height: 250px;
      margin-top: 5px;
      margin-bottom: -15px;
      flex-direction: row;
    }
    .section__tittle {
      margin-top: 150px;
      width: auto;
      height: auto;
      min-width: 350px;
      min-height: 250px;
      font-size: 200px;
      text-align: center;
      background: linear-gradient(#444, #000);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    .card-container {
      width: auto;
      min-width: 350px;
      height: auto;
      min-height: 350px;
      margin-top: 80px;
      display: flex;
      flex-wrap: wrap;
      grid-gap: 30px;
      gap: 70px;
      margin-top: 13px;
      align-items: center;
      align-content: center;
    }

    .card_Posion{
      display: flex;
      height: auto;
      min-height: 350px;
      width: auto;
      min-width: 350px;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      padding: 20px;
      margin-top: 13px;
      margin-left: 25px;
      margin-right: 25px;
      gap: 60px;
    }
    
    .card {
      position: relative;
      background: rgb(255 255 255 / 10%);
      display: flex;
      width: 339px;
      height: 175px;
      overflow: hidden;
      margin-bottom: 5px;
      margin-top: 5px;
      align-content: center;
      justify-content: center;
      cursor: pointer;
    }
    
    .card::before {
      position: absolute;
      background-color: #0009;
      color: aliceblue;
      font-weight: 500;
      content: 'Clique aqui para abrir o projeto';
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;
      transform: translateY(100%);
      transition: transform 0.6s;
    }
    
    .card:hover::before {
      transform: translateY(0%);
    }

    .card img{
      width: 375px;
      height: 208px;
      margin-top: -16px;
    }

    .ordem{
      display: flex;
      width: auto;
      height: auto;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: center;
    }

    .tittle_card{
      font-family: 'Ubuntu-Light';
      font-weight: 500;
      color:  #ebebeb;
      margin-bottom: 0px;
      transition: all 0.5s;
      cursor:default;
    }
    .tittle_card:hover{
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
    
  }
  
}

