<div class="container">
    <app-sidenav></app-sidenav>
    <div class="apresentação">
        <div class="apresentação__title">
            <h3 class="apresentação__text">Olá, eu sou
                <h1 class="apresentação__text_h1">Daniel Almeida.<a class="apresentação__text_a">|</a> </h1>
            Desenvolvedor Web Front-end</h3>
        </div>
        <div class="apresentação__img">
            <img class="avatar" src="assets/avatar1.png">
        </div>
    </div>
    <mat-card class="card">
        <mat-card-title calss="card__title">
            Sobre mim
        </mat-card-title>
        <mat-card-content calss="card__conteudo">
        <p>
            Tenho 25 anos de idade, moro na capital do estado de São Paulo - Brasil.<br><br>
            
            Sou Responsável pelo desenvolvimento de páginas Web com funcionalidades e ferramentas voltadas às necessidades do negócio. Com conhecimentos e habilidades em:<br>
            - HTML5<br>
            - SCSS<br>
            - JavaScript<br>
            - TypeScript<br>
            - Angular 8<br>
            - Metodologia Ágil: SCRUM <br>
            - Integração com API-Rest <br>
        </p>
        <p>
            Em 2020 recebi a oportunidade de um primo meu, para conhecer um pouco mais sobre o universo do desenvolvimento web e aqui estou, apaixonado empenhado no meu aprimoramento nesta área que está me proporcionando conhecimento e habilidades inigualáveis.💻✨
            <br><br>
            Logo após dar inicio aos meus estudos como em angular, recebi outra oportunidade que foi para atuar como programador voluntario num projeto incrível para um centro de acolhimento de idosos. Onde junto com uma equipe de desenvolvedores sênior e plenos, desenvolvemos um sistema interno.
            <br><br>
            Hoje me dedico constantemente para a minha evolução e domínio, estudando diariamente e buscando cada vez mais meu desenvolvimento na área!
            <br><br>
            Atualmente estou cursando Análise e desenvolvimento de sistema pela universidade Anhembi Morumbi.
        </p>
        </mat-card-content>
    </mat-card>
    <div class="projetos">
        <h1>Projetos</h1>
        <mat-card class="projetos__card">
            <mat-card-title>
                Pokedex
            </mat-card-title>
            <mat-card-content>
                <video controls class="card__video" src="assets/pokemon.mp4"></video>
            </mat-card-content>
        </mat-card>
        <mat-card class="projetos__card">
            <mat-card-title>
                e-commerce de cinema.
            </mat-card-title>
            <mat-card-content>
                <img class="card__img" src="assets/primeiraTela.png">
                <img class="card__img" src="assets/segundaTela.png">
                <img class="card__img" src="assets/terceiraTela.png">
                <video></video>
            </mat-card-content>
        </mat-card>
    </div>
</div>
